<nav>
    <ul>
        <a href="/">
            <li>Home</li>
        </a>
        <a href="/users">
            <li>users</li>
        </a>
            <li>{{> login}}</li>
        </a>
        <a href="/user/{{username}}">
            <li>My Profile</li>
        </a>
    </ul>
</nav>