<article class="profile">
    <section class="profile-header">
        <img class="profile-header-image" src="/static/assets/images/1-1.jpg"></img>
        <section class="profile-header-stats">
            <h1 class="profile-header-stats-name">Edward Elric</h1>
            <h2 class="profile-header-stats-class">Male, 20</h2>
            <h3 class="profile-header-stats-background">Human, Haarlem</h3>
        </section>
    </section>
    <section class="profile-body">
        <section class="profile-body-item">
            <h2>Player name:</h2>
            <p class="data-text">Edward Elric</p>
        </section>
        <section class="profile-body-item">
            <h2>Background:</h2>
            <p class="data-text">Haarlem</p>
        </section>
        <section class="profile-body-item">
            <h2>Class &amp; level:</h2>
            <p class="data-text">Man, 20</p>
        </section>
        <section class="profile-body-item">
            <h2>Experience:</h2>
            <p class="data-text">234/365</p>
        </section>
        <section class="profile-body-item">
            <h2>Race:</h2>
            <p class="data-text">Human</p>
        </section>
        <section class="profile-body-item">
            <h2>Faction:</h2>
            <p class="data-text">5th edition</p>
        </section>
        <section class="profile-body-item">
            <h2>Interest:</h2>
            <p class="data-text">Female</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Personality traits:</h2>
            <p class="data-text">Hot headed, philantropic, short-tempered, friendly</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Ideals:</h2>
            <p class="data-text">Resurect his mother and find his brothers body back</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Bonds:</h2>
            <p class="data-text">Does everything for family and friends</p>
        </section>
        <section class="profile-body-item--large">
            <h2>Flaws:</h2>
            <p class="data-text">Bad at predicting danger</p>
        </section>
    </section>
</article>